In [1]:
import requests
import json
import pandas as pd

In [2]:
url='https://api.myhome.ie/search'

In [3]:
data='{"ApiKey":"5f4bc74f-8d9a-41cb-ab85-a1b7cfc86622","CorrelationId":"a8fa2f21-994c-418b-852f-0c14260f93d4","RequestTypeId":2,"RequestVerb":"POST","Endpoint":"https://api.myhome.ie/search","Page":%i,"PageSize":20,"SortColumn":2,"SortDirection":2,"SearchRequest":{"IsBackendSearch":false,"SkipSearchIndex":false,"IsGroupPrivateSearch":false,"IsSaleAgreed":false,"IsSold":false,"IsAuction":false,"IsBoundsSearch":false,"UseFreeTextSearchForKeywords":false,"SearchContent":false,"PropertyIds":[],"GroupIds":[],"ChannelIds":[1],"PropertyTypeIds":[97],"PropertyClassIds":[1],"PropertyStatusIds":[2,12],"SaleTypeIds":[],"FeatureTypeIds":[],"RegionId":2168,"LocalityIds":[],"LocalityNames":[],"NegotiatorIds":[],"SolicitorIds":[],"BuyerSolicitorIds":[],"VendorSolicitorIds":[],"TransferedByUserIds":[],"RowStatusIds":[2],"EnergyRatings":[],"Polygons":[],"Destinations":[],"Tags":[],"PrivateTags":[],"PreSixtyThree":false,"IsActive":true,"HasPhotos":false,"PriceFrequency":"Monthly"}}'

In [4]:
headers={'accept': 'application/json, text/plain, */*',
'accept-encoding': 'gzip, deflate, br',
'accept-language': 'en-US,en-IN;q=0.9,en;q=0.8',
'content-length': '971',
'content-type': 'application/json',
'origin': 'https://www.myhome.ie',
'referer': 'https://www.myhome.ie/',
'sec-ch-ua': '"Not?A_Brand";v="8", "Chromium";v="108", "Google Chrome";v="108"',
'sec-ch-ua-mobile': '?1',
'sec-ch-ua-platform': '"Android"',
'sec-fetch-dest': 'empty',
'sec-fetch-mode': 'cors',
'sec-fetch-site': 'same-site',
'user-agent': 'Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Mobile Safari/537.36;'}

In [5]:
r=requests.post(url,data=data,headers=headers)
r

In [6]:
r.content
1

1

In [7]:
#create a formatted string of the Python JSON object
def jprint(obj):
    text = json.dumps(obj, sort_keys=True, indent=4)
    print(text)

In [8]:
rdata=json.loads(r.content)

In [9]:
SearchResults=rdata['SearchResults']
len(SearchResults)

20

In [10]:
# Range of search resultcount 
l=[]
for i in range(0,rdata['ResultCount'],20):
    SearchResults=json.loads(requests.post(url,data=(data%i),headers=headers).content)['SearchResults']
    l=l+SearchResults

In [11]:
len(l)

520

In [12]:
#data normalization 
df=pd.json_normalize(l)
df.head()

,PropertyId,GroupId,RefreshedOn,Address,GroupPhoneNumber,GroupEmail,GroupName,GroupAddress,GroupUrlSlugIdentifier,CreatedOnDate,...,LatestPriceChangeString,Negotiator.ImageUrl,Negotiator.Email,Negotiator.JobTitle,NewHomeSizeString,CustomData.AssociatedArticleUrl,JointAgentGroupName,JointAgentGroupAddress,JointAgentGroupUrl,CustomData.JointAgentGroupId
0,4662072,6330,2022-12-17T13:30:26.9170000+00:00,"Coolbane, Garrettstown",,jamesmurphyauctioneers@gmail.com,James Murphy & Co. Auctioneers,"14 Pearse Street, Kinsale, Co. Cork",james-murphy-co-auctioneers,2022-11-18T10:52:50.8730000+00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4608915,9213,2022-12-17T13:12:26.9070000+00:00,"Innishannon, Cove Road",,info@griffinauctioneers.com,Griffin Auctioneers,"7 Main Street, Tramore, Co. Waterford",michael-griffin-auctioneer,2022-06-30T11:02:18.1630000+01:00,...,"€55,000 on 21st Nov 22",https://photos-a.propertyimages.ie/users/0/4/5...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4660963,6330,2022-12-17T13:03:26.2770000+00:00,19 Saint Multose Walk,,jamesmurphyauctioneers@gmail.com,James Murphy & Co. Auctioneers,"14 Pearse Street, Kinsale, Co. Cork",james-murphy-co-auctioneers,2022-11-14T17:19:50.5070000+00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4458621,10843,2022-12-17T13:03:20.4170000+00:00,"House Type A. Castleview, Williamstown Road",,info@dngreidandcoppinger.ie,DNG Reid & Coppinger,"No. 52 High Street, Waterford",dng-thomas-reid-auctioneers,2020-09-30T08:49:26.6070000+01:00,...,"€10,000 on 25th Jul 22",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4578759,5649,2022-12-17T12:54:15.8170000+00:00,"25 Our Lady's Place,Naas,Co. Kildare,W91 RH6A",,info@sfor.ie,Sherry FitzGerald O'Reilly (Naas),"Equity House, Main Street, Naas, Co. Kildare",sherry-fitzgerald-oreilly-naas,2022-03-22T17:27:44.3530000+00:00,...,NaN,NaN,cathal@sfor.ie,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.dtypes

PropertyId                           int64
GroupId                              int64
RefreshedOn                         object
Address                             object
GroupPhoneNumber                    object
                                    ...
CustomData.AssociatedArticleUrl     object
JointAgentGroupName                 object
JointAgentGroupAddress              object
JointAgentGroupUrl                  object
CustomData.JointAgentGroupId       float64
Length: 84, dtype: object

# Dropping unwanted columns from dataframe

In [14]:
df=pd.json_normalize(l)
df.drop(['LatestPriceChangeString','SizeStringFeet','CustomData.AssociatedArticleUrl','NewHomeSizeString','JointAgentGroupName','JointAgentGroupAddress','JointAgentGroupUrl','CustomData.JointAgentGroupId', 'GroupPhoneNumber','Negotiator.ImageUrl','Negotiator.JobTitle', 'CustomData.PromotionalSnippet', 'Negotiator.NegotiatorId','Negotiator.Name',   'Negotiator.Phone', 'Negotiator.Email', 'CustomData.DevelopmentLogoBgColour', 'AdditionalLogoUrls',  'RelatedPropertiesTotal',   'CustomData.HidePostCode',  'CustomData.RelatedPropertyIDs','CustomData.IsMyHomePassport', 'TravelTimes', 'AuctionList',  'Location.lat', 'Location.lon', 'BrochureUrl', 'SeoUrl',   'PhotoCount',   'MainPhoto',    'MainPhotoWeb', 'Photos', 'IsNew','IsSaleAgreed','GroupLogoBgColor','GroupLogoUrl','GroupPremiumLogoUrl','GroupPremiumJointLogoUrl','GroupRectangularLogoUrl','JointGroupRectangularLogoUrl','GroupUrl','IsPremiumAd','IsBuildToRent','IsBuildToRentDevelopment','IsPrivateLandlord','IsBrandBooster','GroupUrlSlugIdentifier',  'SaleTypeId','IsFavourite','HasVideos','HasWebP','IsMappedAccurately','IsTopSpot','BedsString','PriceAsString','PriceChangeIsIncrease','DisplayAddress','PropertyClassId','PropertyClass','PropertyClassUrlSlug','BathString','BerRating','EnergyRatingMediaPath','OrderedDisplayAddress','SeoDisplayAddress', 'BrochureMap.longitude','BrochureMap.latitude','SizeStringMeters', 'OpenViewings','VirtualViewings'],axis=1,inplace=True)

In [15]:
df

,PropertyId,GroupId,RefreshedOn,Address,GroupEmail,GroupName,GroupAddress,CreatedOnDate,ActivatedOn,IsActive,id,PropertyStatus,PropertyType,Negotiator.WebSite
0,4662072,6330,2022-12-17T13:30:26.9170000+00:00,"Coolbane, Garrettstown",jamesmurphyauctioneers@gmail.com,James Murphy & Co. Auctioneers,"14 Pearse Street, Kinsale, Co. Cork",2022-11-18T10:52:50.8730000+00:00,2022-11-18T10:57:45.3430000+00:00,True,4662072,ForSale,Detached House,https://www.jm-estates.com
1,4608915,9213,2022-12-17T13:12:26.9070000+00:00,"Innishannon, Cove Road",info@griffinauctioneers.com,Griffin Auctioneers,"7 Main Street, Tramore, Co. Waterford",2022-06-30T11:02:18.1630000+01:00,2022-06-30T11:23:05.9500000+01:00,True,4608915,ForSale,Detached House,NaN
2,4660963,6330,2022-12-17T13:03:26.2770000+00:00,19 Saint Multose Walk,jamesmurphyauctioneers@gmail.com,James Murphy & Co. Auctioneers,"14 Pearse Street, Kinsale, Co. Cork",2022-11-14T17:19:50.5070000+00:00,2022-11-14T17:26:14.4500000+00:00,True,4660963,ForSale,End of Terrace House,https://www.jm-estates.com
3,4458621,10843,2022-12-17T13:03:20.4170000+00:00,"House Type A. Castleview, Williamstown Road",info@dngreidandcoppinger.ie,DNG Reid & Coppinger,"No. 52 High Street, Waterford",2020-09-30T08:49:26.6070000+01:00,2020-09-30T08:54:29.5600000+01:00,True,4458621,ForSale,Detached House,NaN
4,4578759,5649,2022-12-17T12:54:15.8170000+00:00,"25 Our Lady's Place,Naas,Co. Kildare,W91 RH6A",info@sfor.ie,Sherry FitzGerald O'Reilly (Naas),"Equity House, Main Street, Naas, Co. Kildare",2022-03-22T17:27:44.3530000+00:00,2022-03-22T17:28:57.6370000+00:00,True,4578759,ForSale,Semi-Detached House,https://www.sherryfitz.ie/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,4527615,9433,2021-09-06T16:26:04.0000000+01:00,Main Street Headford Co Galway,info@vincentwalshauctioneers.ie,Vincent Walsh Auctioneers,"St George's Square , Headford, Co. Galway",2021-09-06T16:22:35.7870000+01:00,2021-09-06T16:26:04.0000000+01:00,True,4527615,ForSale,Townhouse,NaN
516,4527548,6598,2021-09-06T14:48:28.8300000+01:00,"Saint Christopher's, Riverbank, Ringmahon Road",info@barryauctioneers.ie,Barry Auctioneers & Valuers,"77 South Mall, Cork City Centre, Co. Cork",2021-09-06T14:28:25.4670000+01:00,2021-09-06T14:48:28.8300000+01:00,True,4527548,ForSale,Detached House,http://www.barryauctioneers.ie/
517,4527554,387550,2021-09-06T14:41:44.8900000+01:00,"Coorycommane, Coomhola Bridge",info@bowdensestateagents.com,Bowdens Estate Agents,"Summerhill, Market Street, Bantry, Co. Cork",2021-09-06T14:39:49.6530000+01:00,2021-09-06T14:41:44.8900000+01:00,True,4527554,ForSale,Detached House,NaN
518,4527402,259812,2021-09-04T02:26:32.4770000+01:00,"Dun Gaoithe,Sheskinerone,Dungloe,Co Donegal,F9...",property@sfr.ie,Sherry FitzGerald Rainey,"45 Port Road, Letterkenny, Co Donegal",2021-09-04T02:25:16.3800000+01:00,2021-09-04T02:26:32.4770000+01:00,True,4527402,ForSale,Bungalow,NaN
519,4450449,366768,2021-09-03T17:05:44.1230000+01:00,"120 Ashdrive, Westwood, Ballea Road",info@michaelpigott.ie,Michael Pigott Auctioneer & Valuer,"Main Street, Carrigaline, Co. Cork",2020-08-27T12:47:26.6700000+01:00,2021-09-03T17:05:44.1230000+01:00,True,4450449,ForSale,Semi-Detached House,http://www.michaelpigott.ie

In [16]:
df.drop(['id','Negotiator.WebSite'],axis=1,inplace=True)
df

,PropertyId,GroupId,RefreshedOn,Address,GroupEmail,GroupName,GroupAddress,CreatedOnDate,ActivatedOn,IsActive,PropertyStatus,PropertyType
0,4662072,6330,2022-12-17T13:30:26.9170000+00:00,"Coolbane, Garrettstown",jamesmurphyauctioneers@gmail.com,James Murphy & Co. Auctioneers,"14 Pearse Street, Kinsale, Co. Cork",2022-11-18T10:52:50.8730000+00:00,2022-11-18T10:57:45.3430000+00:00,True,ForSale,Detached House
1,4608915,9213,2022-12-17T13:12:26.9070000+00:00,"Innishannon, Cove Road",info@griffinauctioneers.com,Griffin Auctioneers,"7 Main Street, Tramore, Co. Waterford",2022-06-30T11:02:18.1630000+01:00,2022-06-30T11:23:05.9500000+01:00,True,ForSale,Detached House
2,4660963,6330,2022-12-17T13:03:26.2770000+00:00,19 Saint Multose Walk,jamesmurphyauctioneers@gmail.com,James Murphy & Co. Auctioneers,"14 Pearse Street, Kinsale, Co. Cork",2022-11-14T17:19:50.5070000+00:00,2022-11-14T17:26:14.4500000+00:00,True,ForSale,End of Terrace House
3,4458621,10843,2022-12-17T13:03:20.4170000+00:00,"House Type A. Castleview, Williamstown Road",info@dngreidandcoppinger.ie,DNG Reid & Coppinger,"No. 52 High Street, Waterford",2020-09-30T08:49:26.6070000+01:00,2020-09-30T08:54:29.5600000+01:00,True,ForSale,Detached House
4,4578759,5649,2022-12-17T12:54:15.8170000+00:00,"25 Our Lady's Place,Naas,Co. Kildare,W91 RH6A",info@sfor.ie,Sherry FitzGerald O'Reilly (Naas),"Equity House, Main Street, Naas, Co. Kildare",2022-03-22T17:27:44.3530000+00:00,2022-03-22T17:28:57.6370000+00:00,True,ForSale,Semi-Detached House
...,...,...,...,...,...,...,...,...,...,...,...,...
515,4527615,9433,2021-09-06T16:26:04.0000000+01:00,Main Street Headford Co Galway,info@vincentwalshauctioneers.ie,Vincent Walsh Auctioneers,"St George's Square , Headford, Co. Galway",2021-09-06T16:22:35.7870000+01:00,2021-09-06T16:26:04.0000000+01:00,True,ForSale,Townhouse
516,4527548,6598,2021-09-06T14:48:28.8300000+01:00,"Saint Christopher's, Riverbank, Ringmahon Road",info@barryauctioneers.ie,Barry Auctioneers & Valuers,"77 South Mall, Cork City Centre, Co. Cork",2021-09-06T14:28:25.4670000+01:00,2021-09-06T14:48:28.8300000+01:00,True,ForSale,Detached House
517,4527554,387550,2021-09-06T14:41:44.8900000+01:00,"Coorycommane, Coomhola Bridge",info@bowdensestateagents.com,Bowdens Estate Agents,"Summerhill, Market Street, Bantry, Co. Cork",2021-09-06T14:39:49.6530000+01:00,2021-09-06T14:41:44.8900000+01:00,True,ForSale,Detached House
518,4527402,259812,2021-09-04T02:26:32.4770000+01:00,"Dun Gaoithe,Sheskinerone,Dungloe,Co Donegal,F9...",property@sfr.ie,Sherry FitzGerald Rainey,"45 Port Road, Letterkenny, Co Donegal",2021-09-04T02:25:16.3800000+01:00,2021-09-04T02:26:32.4770000+01:00,True,ForSale,Bungalow
519,4450449,366768,2021-09-03T17:05:44.1230000+01:00,"120 Ashdrive, Westwood, Ballea Road",info@michaelpigott.ie,Michael Pigott Auctioneer & Valuer,"Main Street, Carrigaline, Co. Cork",2020-08-27T12:47:26.6700000+01:00,2021-09-03T17:05:44.1230000+01:00,True,ForSale,Semi-Detached House

In [17]:
df.dtypes

PropertyId         int64
GroupId            int64
RefreshedOn       object
Address           object
GroupEmail        object
GroupName         object
GroupAddress      object
CreatedOnDate     object
ActivatedOn       object
IsActive            bool
PropertyStatus    object
PropertyType      object
dtype: object

In [18]:
#Highest price property?
top5=df.sort_values('PropertyType',ascending=False,inplace=False, axis=0,ignore_index=True)
(top5.head(5))

,PropertyId,GroupId,RefreshedOn,Address,GroupEmail,GroupName,GroupAddress,CreatedOnDate,ActivatedOn,IsActive,PropertyStatus,PropertyType
0,4642984,11103,2022-09-15T14:45:41.1900000+01:00,Hampton Grace Park Road,anne@gallagherquigley.ie,Gallagher Quigley,"27/28 Marino Mart, Fairview, Dublin 3",2022-09-15T14:29:33.9530000+01:00,2022-09-15T14:45:41.1900000+01:00,True,ForSale,Townhouse
1,4616592,7137,2022-09-25T08:51:46.1370000+01:00,"20 Goldsmith's Avenue, Richmond Hill",info@jeremymurphy.ie,Jeremy Murphy & Associates,"50 South Mall, Cork, T12 ND73",2022-07-14T11:36:39.1670000+01:00,2022-07-14T11:43:26.0470000+01:00,True,ForSale,Townhouse
2,4635558,5689,2022-08-23T16:42:47.6770000+01:00,26 Thomas Hand Street,info@sfcumiskykelly.ie,Sherry Fitzgerald Cumisky Kelly,"21 Drogheda Street, Balbriggan, Co. Dublin",2022-08-23T16:26:25.2400000+01:00,2022-08-23T16:42:47.6770000+01:00,True,ForSale,Townhouse
3,4553929,344399,2022-05-06T16:30:56.1970000+01:00,12 Melville Terrace,info@imove.ie,iMove,"10 Fairview, Dublin 3",2021-12-15T16:21:22.1630000+00:00,2021-12-15T16:28:29.3270000+00:00,True,ForSale,Townhouse
4,4647610,6124,2022-11-17T17:13:04.4000000+00:00,"4 Ballyclough Terrace, Ballycummin Village",info@rooneys.eu,Rooney Auctioneers,"99 O'Connell Street, Limerick",2022-10-03T10:26:17.6930000+01:00,2022-10-18T16:09:28.9730000+01:00,True,ForSale,Townhouse

In [19]:
#Establish in mongodb 
# importing the library
import pandas as pd
import pymongo
import urllib
from pymongo import MongoClient

In [20]:
# Load csv dataset
df.to_csv('myhome.csv')

In [21]:
data = pd.read_csv('myhome.csv')

In [22]:
#Connect to MongoDB
client = pymongo.MongoClient("mongodb://Divya:"+ urllib.parse.quote_plus("Divya@0209")+"@ac-ftrsqrg-shard-00-00.xe4uins.mongodb.net:27017,ac-ftrsqrg-shard-00-01.xe4uins.mongodb.net:27017,ac-ftrsqrg-shard-00-02.xe4uins.mongodb.net:27017/?ssl=true&replicaSet=atlas-e5bv9c-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.test

In [23]:
# insert name of database and name of collection
db = client['myhome']
collection = db['myhomecollection']

In [24]:
data.reset_index(inplace=True)

In [25]:
#insert collection
db.collection.insert_many(df.to_dict('records'))